<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div th:fragment="sidebar">
    <div id="sidebar" class="bg-dark text-white d-flex flex-column p-3">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <span class="fs-5 fw-bold">Menu</span>
            <span class="material-icons menu-toggle" onclick="toggleSidebar()">menu</span>
        </div>

        <ul class="nav nav-pills flex-column">

            <li class="nav-item mb-2" sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_MANAGER')">
                <a class="nav-link text-white" th:href="@{/users}">
                    <span class="material-icons">person</span>
                    <span class="menu-label ms-2">Usuários</span>
                </a>
            </li>

            <li class="nav-item mb-2" sec:authorize="hasAnyAuthority('ROLE_BUDGET', 'ROLE_MANAGER', 'ROLE_ADMIN')">
                <a class="nav-link text-white" th:href="@{/inputs}">
                    <span class="material-icons">inventory</span>
                    <span class="menu-label ms-2">Insumos</span>
                </a>
            </li>

            <li class="nav-item mb-2" sec:authorize="hasAnyAuthority('ROLE_BUDGET', 'ROLE_MANAGER', 'ROLE_ADMIN')">
                <a class="nav-link text-white" th:href="@{/compositions}">
                    <span class="material-icons">layers</span>
                    <span class="menu-label ms-2">Composições</span>
                </a>
            </li>

            <li class="nav-item mb-2" sec:authorize="hasAnyAuthority('ROLE_COMMERCIAL', 'ROLE_BUDGET', 'ROLE_MANAGER', 'ROLE_ADMIN')">
                <a class="nav-link text-white" th:href="@{/products}">
                    <span class="material-icons">category</span>
                    <span class="menu-label ms-2">Produtos</span>
                </a>
            </li>

            <li class="nav-item mb-2" sec:authorize="hasAnyAuthority('ROLE_COMMERCIAL', 'ROLE_BUDGET', 'ROLE_MANAGER', 'ROLE_ADMIN')">
                <a class="nav-link text-white" th:href="@{/budgets}">
                    <span class="material-icons">attach_money</span>
                    <span class="menu-label ms-2">Orçamentos</span>
                </a>
            </li>

            <!-- Configurações: apenas ADMIN -->
            <li class="nav-item mb-2" sec:authorize="hasAuthority('ROLE_ADMIN')">
                <a class="nav-link text-white" th:href="@{/settings}">
                    <span class="material-icons">settings</span>
                    <span class="menu-label ms-2">Configurações</span>
                </a>
            </li>


        </ul>
    </div>
</div>
</body>
</html>
